page-events-detail {
    .toolbar-title-md{
        position: absolute;
        text-align: center;
    }
    .card{
        background: rgba(rgb(255, 255, 255),0.7);
    }
    div button{
        float:right;
    }
    h2{
        color:blue;
    }
    .toolbar-md-primary .bar-button-default-md{
        color: blue;
    }
    ion-title {
        //position: absolute;
        top: 0;
        left: 0;
        padding: 0 1px 1px;
        width: 80%;
        height: 100%;
        text-align: center;
      }
}
