page-events-detail {
    .toolbar-title-md{
        position: absolute;
        text-align: center;
    }
    .content-md{
        background-image: url('../../assets/imgs/lascanteras.jpg');
        background-size:cover; 
    }
    .card{
        background: rgba(rgb(255, 255, 255),0.7);
    }
    div button{
        float:right;
    }
    h2{
        color:blue;
    }
    .toolbar-md-primary .bar-button-default-md{
        color: blue;
    }
}
