page-edit-event {
    input{
        color:black;
    }
    .top-bar{
        padding-top: 0in;
    }
    agm-map {
        height:300px;
        border-color:blue; 
    }
    #search{
        color:blue;
        width: 80%;
  
    }
    ion-title {
        //position: absolute;
        top: 0;
        left: 0;
        padding: 0 1px 1px;
        width: 80%;
        height: 100%;
        text-align: center;
    }
}
