page-maps {
    agm-map {
        height:90%;
        border-color:blue; 
    }
    input{
        color:blue;
        width: 80%;
        height:20%;
    }
    input::placeholder{
        color:darkblue;
    }

    .form-group{
        text-align: center;
    }
    ion-title {
        position: relative;
        top: 0;
        left: 0;
        padding: 0 1px 1px;
        width: 90%;
        height: 100%;
        text-align: center;
      }
    // #map {
	// 	height: 100%;
	// }
}
