page-maps {
    agm-map {
        height:90%;
        border-color:blue; 
    }
    input{
        color:blue;
        width: 80%;
        height:20%;
    }
    input::placeholder{
        color:darkblue;
    }

    .form-group{
        text-align: center;
    }
    // #map {
	// 	height: 100%;
	// }
}
